body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#lblCount {
    color: blue;
}

div {
    align-content: center;
}

div .btn {
    padding: 0;
    margin: 5px;
}